<!DOCTYPE html>
<html>
<head>
  <title>List of references</title>
  <link rel="stylesheet" type="text/css" href="/statics/main.css">
</head>
<body>
  <h1>List of references</h1>
  <ul>
    {{#each refs}}
    <li><span class='title'>{{title}}</span><br>
      <span class='author'>{{#each author}}{{first}} {{last}}, {{/each}}</span>
      <a class='reference' href='http://dx.doi.org/{{doi}}'>
        <span class='journal'>{{journal}}</span>
        <span class='volume'>{{volume}}</span>
        <span class='page'>{{page}}</span>
      </a>
      <span class='year'>({{year}})</span>
    </li>
    {{/each}}
  </ul>
</body>
</html>
